<%= form_for [:admin, @hang_hoa], html: { multipart: true, class: 'form-horizontal custom-form' } do |f| %>
<div class="form-group">
	<%= f.label "Mã hàng", class: 'control-label col-md-3' %>
	<div class="col-md-9">
		<%= f.text_field :ma_hang, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label "Tên hàng", class: 'control-label col-md-3' %>
	<div class="col-md-9">
		<%= f.text_field :ten_hang, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label "Số lượng", class: 'control-label col-md-3' %>
	<div class="col-md-9">
		<%= f.text_field :so_luong, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label "Đơn vị tính", class: 'control-label col-md-3' %>
	<div class="col-md-9">
		<%= f.text_field :dvt, class: 'form-control' %>
	</div>
</div>
<%=  f.fields_for :gias do |gia| %>
<div class="form-group">
	<%= f.label "Giá bán", class: 'control-label col-md-3' %>
	<div class="col-md-9 commas input-group">
		<%= gia.text_field :gia_ban, class: 'form-control' %>
		<span class="input-group-addon">đ</span>
	</div>
</div>
<% end %>
<div class="form-group">
	<%= f.label "Xuất xứ", class: 'control-label col-md-3' %>
	<div class="col-md-9">
		<%= f.text_field :xuat_xu, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label "Quy cách", class: 'control-label col-md-3' %>
	<div class="col-md-9">
		<%= f.text_field :quy_cach, class: 'form-control' %>
	</div>
</div>
<br>
<div class="form-group">
	<%= f.label "Ghi chú", class: 'control-label col-md-3' %>
	<div class="col-md-9">
		<%= f.text_area :ghi_chu, class: 'form-control wysihtml5', as: :wysihtml5%>
	</div>
</div>
<br>
<div class="form-group">
	<%= f.label "Danh mục", class: 'control-label col-md-3' %>
	<div class="col-md-9">
		<%= f.select(:danh_muc_id, options_for_select(@danh_mucs), {prompt: 'Chọn danh mục'}, { class: 'form-control'} ) %>
	</div>
</div>
<div class="form-group">
	<%= f.label "Hình ảnh", class: 'control-label col-md-3' %>
	<div class="col-md-9">
		<%= f.file_field :image, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label "Chi tiết sản phẩm", class: 'control-label col-md-3' %>
	<div class="col-md-9">
		<%= f.text_area :chi_tiet, class: 'form-control wysihtml5', as: :wysihtml5 %>
	</div>
</div>
<div class="form-group">
	<div class="col-md-offset-3 col-md-9">
		<%= f.submit "Cập nhật", class: 'btn btn-success pull-right' %>
	</div>
</div>
<% end %>