<div class="function-headline">
	<h1>Kho hàng</h1>
</div>
<div style="margin-bottom: 20px">
	<%= link_to new_admin_hang_hoa_path do %>
	<button type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>  Thêm hàng</button>
	<% end %>
</div>
<table class="table table-bordered data-tables" width="100%" id="hang-hoa-table">
	<thead>
		<tr>
			<th>Mã hàng</th>
			<th>Tên hàng</th>
			<th>Số lượng</th>
			<th>ĐVT</th>
			<th>Xuất xứ</th>
			<th>Quy cách</th>
			<th>Giá bán</th>
			<th>Danh mục</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @hang_hoas.each do |hang_hoa| %>
		<tr>
			<td align="center"><%= hang_hoa.ma_hang %></td>
			<td><%= hang_hoa.ten_hang %></td>
			<td align="center"><%= hang_hoa.so_luong %></td>
			<td align="center"><%= hang_hoa.dvt %></td>
			<td align="center"><%= hang_hoa.xuat_xu %></td>
			<td align="center"><%= hang_hoa.quy_cach %></td>
			<td align="right">
				<select class="form-control">
					<% hang_hoa.gias.each do |gia| %>
					<option><%= number_to_currency(gia.gia_ban, locale: :vn) %></option>
					<% end %>
				</select>
			</td>
			<td align="center"><%= link_to DanhMuc.find(hang_hoa.danh_muc_id).ten_danh_muc, admin_danh_muc_path(hang_hoa.danh_muc_id) %></td>
			<td align="center"><%= link_to 'Xem', admin_hang_hoa_path(hang_hoa) %></td>
			<td align="center"><%= link_to 'Sửa', edit_admin_hang_hoa_path(hang_hoa) %></td>
			<td align="center"><%= link_to 'Xóa', admin_hang_hoa_path(hang_hoa), method: :delete, data: {confirm: 'Bạn chắc chắn chứ?'} %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= yield %>