<div class="function-headline">
	<h1>Chi tiết hàng hóa</h1>
</div>
<p><strong>Mã hàng:</strong> <%= @hang_hoa.ma_hang %></p>
<p><strong>Tên hàng:</strong> <%= @hang_hoa.ten_hang %></p>
<p><strong>Số lượng:</strong> <%= @hang_hoa.so_luong%></p>
<p><strong>ĐVT:</strong> <%= @hang_hoa.dvt%></p>
<p><strong>Xuất xứ:</strong> <%= @hang_hoa.xuat_xu %></p>
<p><strong>Quy cách:</strong> <%= @hang_hoa.quy_cach %></p>
<p><strong>Ghi chú</strong> <%= @hang_hoa.ghi_chu %></p>

<p><strong>Giá bán</strong> <%= @gia.gia_ban %></p>

<p><strong>Ghi chú</strong> <%= @hang_hoa.ghi_chu %></p>
<p><%= image_tag @hang_hoa.image.url(:medium)%></p>
<p><%= link_to 'Sửa', edit_admin_hang_hoa_path(@hang_hoa), class: 'btn btn-primary' %>
<%= link_to 'Xóa', admin_hang_hoa_path(@hang_hoa), method: :delete, data: {confirm: 'Bạn chắc chắn chưa?'}, class: 'btn btn-danger' %></p>