<div class="container">
	<h2>GIỎ HÀNG</h2>
	<div class="col-md-9 cart-left-col">
		<% @gio_hang.chi_tiet_gio_hangs.each do |chi_tiet| %>
		<%= form_for (chi_tiet) do |f| %>
		<div class="line-item row">
			<div class="item-img col-md-2"><%= image_tag chi_tiet.hang_hoa.image.url(:xs) %></div>
			<div class="item-name col-md-4"><%= chi_tiet.hang_hoa.ten_hang %></div>
			<div class="item-price col-md-2"><strong><%= number_to_currency(chi_tiet.hang_hoa.gias.last[:gia_ban], locale: :vn) %></strong></div>
			<div class="item-qty col-md-2"><%= f.number_field :so_luong, value: chi_tiet.so_luong, class: "form-control" %></div>
			<div class="item-f5-btn col-md-1">
				<%= button_tag(type: "submit", class: "btn btn-default") do %>
					<i class="fa fa-refresh" aria-hidden="true"></i>
				<% end %>
				
			</div>
			<div class="item-del-btn col-md-1">
				<%= link_to chi_tiet_gio_hang_path(chi_tiet), method: :delete do %>
					<i class="fa fa-times" aria-hidden="true"></i>
				<% end %>
			</div>
		</div>
		<% end %>
		<% end %>
		
		<!-- <table class="table">
				<% @gio_hang.chi_tiet_gio_hangs.each do |chi_tiet| %>
					<%= form_for (chi_tiet) do |f| %>
					<tr>
							<td><%= chi_tiet.hang_hoa.ten_hang %></td>
							<td><%= number_to_currency(chi_tiet.hang_hoa.gias.last[:gia_ban], locale: :vn) %></td>
							<td><%= f.number_field :so_luong, value: chi_tiet.so_luong %></td>
							<td><%= number_to_currency(chi_tiet.tong_cong, locale: :vn) %></td>
							<td><%= submit_tag "Cập nhật" %></td>
							<td><%= link_to "Xóa", chi_tiet_gio_hang_path(chi_tiet), method: :delete %></td>
					</tr>
					<% end %>
				<% end %>
		</table> -->
	</div>
	<div class="col-md-3 cart-right-col">
		<div class="cart-total row">
			<div class="col-md-12">
				<div style="font-size: 1.2em">Thành tiền:</div>
				<div class="cart-total-number"><%= number_to_currency(@gio_hang.tong_cong, locale: :vn)%></div>
				<div class="" style="font-size: 1em; text-align: right"><p style="margin-bottom: 0">(Chưa bao gồm VAT)</p></div>
			</div>
		</div>
		<div class="row cart-total-btn">
			<div class="col-md-12 row" id="order-btn">
				<%= link_to 'Tiến hành đặt hàng', new_don_hang_path, method: :get, class: 'btn btn-danger', style: 'width: 100%' %>
			</div>
			<div class="col-md-12 row">
				<%= link_to 'Trở lại', :back, class: 'btn btn-default', style: 'width: 100%' %>
			</div>
			
			
		</div>
	</div>
</div>