<%= image_tag 'BL-White-Logo.png', width: "30%" %>
<%= form_tag admin_sessions_path do %>
<%= label_tag "Tên tài khoản" %>
<%= text_field_tag :username, "" , class: 'form-control' %>
<%= label_tag "Mật khẩu" %> <br>
<%= password_field_tag :password, "" ,class: 'form-control' %>
<%= submit_tag 'Đăng nhập', class: "btn btn-success" %>
<% end %>
	<% if flash[:notice] %>
	<div class="alert alert-info"><%= flash[:notice] %></div>
	<% end %>
	<% if flash[:alert] %>
	<div class="alert alert-warning"><%= flash[:alert] %></div>
	<% end %>