<div class="container-fluid">
		<div class="intro-section row">
			<div class="intro-text col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-1">
				<p id="hello">Xin chào!</p>
				<h1>Chúng tôi cung cấp vật tư <br> ngành lạnh công nghiệp</h1>
				<a href="/store" type="button" class="btn btn-default btn-custom">CỬA HÀNG <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
			</div>
			<div class="img-thumbnail col-md-6 col-sm-12">
				<%= image_tag 'Banner.png', class: "banner-pic" %>
			</div>		
		</div>

		<div class="product-category-section row col-md-offset-1">
			<div class="product-cat col-md-2">
				<a href="#">
					<div class="product-cat-img">
						<%= image_tag 'category/gas-lanh.jpg', alt: "Gas lạnh R22,R404a,R410a,R134a" %>
					</div>
					<div class="cat-title">Gas lạnh</div>
				</a>
			</div>
			<div class="product-cat col-md-2">
				<a href="#">
					<div class="product-cat-img">
						<%= image_tag 'category/may-nen.png', alt: "Block, máy nén, Block Tecumseh, Block LG, Block Copeland, Block Danfoss" %>
					</div>
					<div class="cat-title">Máy nén lạnh</div>
				</a>
			</div>
			<div class="product-cat col-md-2">
				<a href="#">
					<div class="product-cat-img">
						<%= image_tag 'category/ong-dong.jpg', alt: "Ông đồng" %>
					</div>
					<div class="cat-title">Ống đồng</div>
				</a>
			</div>
			<div class="product-cat col-md-2">
				<a href="#">
					<div class="product-cat-img">
						<%= image_tag 'category/nhot.jpg', alt: "Nhớt lạnh, Nhớt Shell, Suniso" %>
					</div>
					<div class="cat-title">Nhớt lạnh</div>
				</a>
			</div>
			<div class="product-cat col-md-2">
				<a href="#">
					<div class="product-cat-img">
						<%= image_tag 'category/gen-cach-nhiet.jpg', alt: "Gen cách nhiệt, Superlon" %>
					</div>
					<div class="cat-title">Gen cách nhiệt</div>
				</a>
			</div>
			<div class="product-cat col-md-2">
				<a href="#">
					<div class="product-cat-img">
						<%= image_tag 'category/van.jpg', alt: "Van, Van Danfoss" %>
					</div>
					<div class="cat-title">Van</div>
				</a>
			</div>
			<div class="product-cat col-md-2">
				<a href="#">
					<div class="product-cat-img">
						<%= image_tag 'category/phu-kien-dong.jpg', alt: "Tán đồng, co đồng, phụ kiện đồng" %>
					</div>
					<div class="cat-title">Phụ kiện đồng</div>
				</a>
			</div>
			<div class="product-cat col-md-2">
				<a href="#">
					<div class="product-cat-img">
						<%= image_tag 'category/dong-ho-ap-suat.jpg', alt: "" %>
					</div>
					<div class="cat-title">Đồng hồ giám sát</div>
				</a>
			</div>
			<div class="product-cat col-md-2">
				<a href="#">
					<div class="product-cat-img">
						<%= image_tag 'category/phin-loc.jpg', alt: "" %>
					</div>
					<div class="cat-title">Phin lọc</div>
				</a>
			</div>
			<div class="product-cat col-md-2">
				<a href="/store">
					<div class="go-to-store">
						<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					</div>
					<div class="cat-title">Các loại khác</div>
				</a>
			</div>
		</div>

		<div class="standards-section row">
			<h2 class="col-md-11 col-md-offset-1">Và luôn đảm bảo các tiêu chí</h1>
			<div class="standards-wrapper col-md-12">
				<div class="standard col-md-2 col-md-offset-1">
					<%= image_tag 'standard/uy-tin.png', alt: "" %>
					<div class="standard-text">Uy tín</div>
				</div>
				<div class="standard col-md-2">
					<%= image_tag 'standard/chat-luong.png', alt: "" %>
					<div class="standard-text">Chất lượng</div>
				</div>
				<div class="standard col-md-2">
					<%= image_tag 'standard/nhanh-chong.png', alt: "" %>
					<div class="standard-text">Nhanh chóng</div>
				</div>
				<div class="standard col-md-2">
					<%= image_tag 'standard/gia-tot.png', alt: "" %>
					<div class="standard-text" id="piggy">Giá tốt</div>
				</div>
			</div>
		</div>

		<div class="customers-section row">
			<h2 class="col-md-11 col-md-offset-1">Được tin tưởng bởi</h2>
			<div class="customers-wrapper col-md-12">
				<div class="customer col-md-2 col-md-offset-1">
					<%= image_tag 'customer/InterContinental.png', alt: "" %>
				</div>
				<div class="customer col-md-2 ">
					<%= image_tag 'customer/Vinpearl.png', alt: "" %>
				</div>
				<div class="customer col-md-2 ">
					<%= image_tag 'customer/DiamondBay.png', alt: "" %>
				</div>
				<div class="customer col-md-1 ">
					<%= image_tag 'customer/F17.png', alt: "" %>
				</div>
				<div class="customer col-md-1 ">
					<%= image_tag 'customer/vikoda.png', alt: "" %>
				</div>
				<div class="customer col-md-1 ">
					<%= image_tag 'customer/Maitin.png', alt: "" %>
				</div>
				<div class="customer col-md-1 ">
					<%= image_tag 'customer/Gallant.png', alt: "" %>
				</div>
			</div>
		</div>