<div class="function-headline">
	<h2>Danh sách khách hàng</h2>
</div>
<table class="table table-bordered data-tables">
	<thead>
		<th>STT</th>
		<th>Tên KH</th>
		<th>Email</th>
		<th>Địa chỉ</th>
		<th>Điện thoại</th>
		<th>Mã số thuế</th>
		<th>Lần đăng nhập</th>
		<th>Lần cuối</th>
	</thead>
	<tbody>
		<% @khach_hangs.each do |kh| %>
		<tr>
			<td align="center"><%= kh.id %></td>
			<td><%= kh.ten_kh %></td>
			<td><%= kh.email %></td>
			<td><%= kh.dia_chi %></td>
			<td><%= kh.dien_thoai %></td>
			<td><%= kh.ma_so_thue %></td>
			<td align="center"><%= kh.sign_in_count %></td>
			<td><%= time_ago_in_words(kh.last_sign_in_at) unless kh.last_sign_in_at.blank?%> ago</td>
		</tr>
		<% end %>
	</tbody>
</table>
