<div class="function-headline">
	<h2>Danh sách đơn hàng</h2>
</div>
<table class="table table-bordered data-tables" width="100%" id="don-hang-table">
	<thead>
		<th>Mã đơn hàng</th>
		<th>Người nhận</th>
		<th>Địa chỉ</th>
		<th>Điện thoại</th>
		<th>Email</th>
		<th>Kiểu thanh toán</th>
		<th>Tình trạng</th>
		<th>Khách hàng</th>
		<th>X</th>
	</thead>
	<tbody>	
		<% @don_hangs.each do |don_hang| %>
		<tr>
			<td align="center"><%= don_hang.id%></td>
			<td><%= don_hang.nguoi_nhan %></td>
			<td><%= don_hang.dia_chi %></td>
			<td><%= don_hang.sdt %></td>
			<td><%= don_hang.email %></td>
			<td align="center"><%= don_hang.kieu_thanh_toan %></td>
			<td><%= don_hang.tinh_trang %></td>
			<td> <%= don_hang.khach_hang.email if don_hang.khach_hang %> </td>
			<td><%= link_to 'Xem', admin_don_hang_path(don_hang) %></td>
		</tr>
		<% end %>
		
	</tbody>
</table>