<div class="function-headline">
	<h1><%= @danh_muc.ten_danh_muc %></h1>
</div>
<div class="product-category-listing">
	<table class="hang-hoa-table" width="100%">
	<thead>
		<tr>
			<th>Mã hàng</th>
			<th>Tên hàng</th>
			<th>Số lượng</th>
			<th>ĐVT</th>
			<th>Xuất xứ</th>
			<th>Quy cách</th>
			<th>Ghi chú</th>
			<th>Gía bán</th>
		</tr>
	</thead>
	<tbody>
		<% @hang_hoas.each do |hang_hoa| %>
		<tr>
			<td align="center"><%= hang_hoa.ma_hang %></td>
			<td><%= hang_hoa.ten_hang %></td>
			<td align="center"><%= hang_hoa.so_luong %></td>
			<td align="center"><%= hang_hoa.dvt %></td>
			<td align="center"><%= hang_hoa.xuat_xu %></td>
			<td align="center"><%= hang_hoa.quy_cach %></td>
			<td><%= hang_hoa.ghi_chu %></td>
			<td>
				<select class="form-control">
					<% hang_hoa.gias.each do |gia| %>
					<option><%= gia.gia_ban %></option>
					<% end %>
				</select>
			</td>
			<td align="center"><%= link_to 'Xem', admin_hang_hoa_path(hang_hoa) %></td>
			<td align="center"><%= link_to 'Sửa', edit_admin_hang_hoa_path(hang_hoa) %></td>
			<td align="center"><%= link_to 'Xóa', admin_hang_hoa_path(hang_hoa), method: :delete, data: {confirm: 'Bạn chắc chắn chưa?'} %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
