<!DOCTYPE html>
<html>
	<head>
		<title>BL Store</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,900" rel="stylesheet' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body class="application-body">
		<nav class="navbar">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-items" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">
						<%= image_tag 'Logo.png', width: "60px", id: "logo-img" %>
					</a>
				</div>
				<div class="upperline-nav">
					<i class="fa fa-phone"></i><span class="contact-number">0914 0924 77 - 0918 259 412</span>
					<span>
						<% if khach_hang_signed_in? %>
						<div class="dropdown" style="display: inline-block">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"></i> Chào <strong><%= current_khach_hang.ten_kh.partition(' ').last %></strong> <i class="fa fa-caret-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu pull-right">
								<li><%= link_to 'Thông tin tài khoản', edit_khach_hang_registration_path %></li>

								<li><%= link_to 'Quản lý đơn hàng', don_hangs_path %></li>
								<li role="separator" class="divider"></li>
								<li>
									<%= link_to destroy_khach_hang_session_path, method: :delete do %>
									Thoát tài khoản</i>
									<% end %>
								</li>
							</ul>
						</div>
							
						<% else %>
						<span class="sign-in-up">
							<%= link_to 'Đăng ký', new_khach_hang_registration_path %><span class="separate-line">|</span>
							<%= link_to new_khach_hang_session_path do %>
								Đăng nhập <i class="fa fa-sign-in"></i>
							<% end %>
						</span>
						<% end %>
					</span>
				</div>
				<div class="navbar-collapse collapse" id="navbar-collapse-items">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Trang chủ</a></li>
						<li><a href="/store">Cửa hàng</a></li>
						<li><a href="#">Liên hệ</a></li>
						<li id="shopping-cart">
							<%= link_to gio_hang_path(@gio_hang) do %>
								<i class="fa fa-shopping-cart"></i> Giỏ hàng
							<% end %>
						</li>

					</ul>
				</div>
			</div>
		</nav>
<!-- 		<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
		<% end %>
		<% if flash[:alert] %>
		<div class="alert"><%= flash[:alert] %></div>
		<% end %> -->
		<%= yield %>
	</body>
	<footer class="footer-section row">
			<div class="container">
				<div class="logo-footer col-md-1">
					<%= image_tag 'BL-White-Logo.png', width: "60px", id: "logo-img" %>
				</div>
				<div id="store-name" class="col-md-4">
					<h3>Cửa hàng thiết bị lạnh công nghiệp <span style="font-weight: 600">BL</span></h3>
					<h4>© 2017 - BLStore</h4>
				</div>
				<div id="store-info" class="pull-right col-md-4">
					<h3>37 Trịnh Phong, Nha Trang, Khánh Hòa</h3>
					<h3><span style="font-weight: 600"> HOTLINE: </span><span style="font-weight:400">0914 0924 77 - 0918 259 501</span></h3>
					<h3>Email: <a href="baylocnt@gmail.com?subject=feedback" "email me">baylocnt@gmail.com</a></h3>
				</div>
			</div>
			
		</footer>
</html>